html body{
    margin: 0;
    padding: 0;
    background-color: #305490;
}

table{
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border: 0.1vw solid;
}



.sticky{
    position: static;
    top: 0;
}

th{
    top: 0;
    background-color: #000393;
    color: #fff;
    text-align: center;
	font-size: 1.4vw;
	font-weight: bold;
	border: 0.1vw solid rgb(247, 243, 243);
    height: 4.5vw;
}

td { 
    color: #fff; 
    text-align: center; 
    font-size: 1.4vw;
    font-weight: bold;
    border: 0.1vw solid #F7F3F3;
    word-wrap: break-word;
    height: 4.5vw;
   }

.main-col{
    height: 3vw;
}
